.auth {
	display: flex;
	flex-flow: column;
	background-color: rgba(0, 0, 0, 0.4);
	width: 300px;	
	border-radius: 5px;
	box-shadow: 1px 9px 18px 4px rgba(10, 4, 40, 0.22);
	border: 1px solid #aaa;

	.auth-header {
		width: 100%;
		display: block;
		height: 40px;
		line-height: 40px;
		background: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0) 0%,
			rgba(0, 0, 0, 0.4) 30%,
			rgba(0, 0, 0, 0.4) 70%,
			rgba(255, 255, 255, 0) 100%
		);
		color: #fff;
		z-index: 2;
		text-align: center;
		font-size: 22px;
	}

	.auth-body {
		padding: 5px;
		display: block;
	}
}

.lost-connection {
	text-align: center;
	font-size: 3vh;
	margin-bottom: 3vh;
}