:root {
  --brick-color-default: #261f1c;
  --brick-color-action: #6D8BAC;
  --brick-color-condition: #e8b463;
  --brick-color-value: #788C7F;
}

.brick {
	border: solid 1px #141414;
	border-radius: 5px;
	background: transparent;
	

	.brick-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: var(--brick-color-default);
		opacity: 0.7;
		background-color: red;
		border-radius: 5px;
		z-index: 0;
		cursor: all-scroll;
	}

	&.selected {
		box-shadow: 0 0 6px 4px #2abdd2;
		border: solid 1px #2abdd2;

		.brick-bg {
			opacity: 0.9;
		}

	}

	.brick-header {
		pointer-events: none;
		position: relative;
		diplay: flex;
		background-color: rgba(0, 0, 0, 0.2);
		border-radius: 5px 5px 0 0;
		width: 100%;
		min-height: 1.5rem;
		top: 0;
		left: 0;
		right: 0;

		.remove-button {
			pointer-events: all;
			position: absolute;
			right: 0rem;
			top: 0rem;
			border-radius: 5px;
		}
	}

	.brick-output {
		height: 100%;
		position: relative;
	}

	.brick-body {
		position: relative;
		padding-top: 5px;
		padding-bottom: 4px;
		min-height: 12px;
		pointer-events: none;

		.brick-param-inline {
			padding-left: 10px;
			padding-right: 10px;

			.brick-param-value {
				pointer-events: all;
			}

			.brick-param-name {
				pointer-events: none;
			}
		}

		.brick-param-brick {
			pointer-events: unset;
			position: relative;
			height: 30px;
			text-align: left;
			padding-left: 6px;
			line-height: 30px;
		}


	}

	.brick-name {
		text-align: center;
		margin-left: 3rem;
		margin-right: 3rem;
		font-size: 0.9rem;
	}


}