.brick-root {
	position: relative;
	border: solid 1px #40342c;
	border-radius: 0.3rem;
	background-color: var(--brick-color-default);
	text-align: center;
	min-width: 100px;
	min-height: 50px;

	&.selected {
		box-shadow: 0 0 5px 3px #0ff;
	}
}