.brick-panel {
	background-color: rgba(0, 0, 0, 0.4);
	.brick-list {
		height: 500px;
		overflow-x: hidden;
		overflow-y: scroll;
		padding: 10px 10px;
		resize: both;

		&::-webkit-scrollbar {
			width: 0.5em;
			height: 0.5em;
		}

		&::-webkit-scrollbar-thumb {
			background-color: rgba(255,255,255,.3);
			border-radius: 3px;

			&:hover {
				background: rgba(255,255,255,.5);
			}
		}

		.brick-dnd {
			opacity: 0.7;
			border-radius: 4px;
			padding: 2px;
			padding-left: 15px;
			font-size: 15px;
			font-weight: 550;
			margin-top: 5px;

			&:hover {
				transform: scale(1.1);
				opacity: 0.9;
				padding-left: 30px;
				cursor: move;
			}
		}
	}

	.open-icon {
		width: 80px;
		height: 80px;
		background-color: red;
	}

}