@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');

.popup-blackout {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	z-index: 100;

	.popup-frame {
		margin: 0 auto;
		top: 5%;
		position: relative;
		display: flex;
		flex-flow: column;
		border: none;
		background-color: black;
		border: solid 1px gray;
		border-radius: 2px;
		opacity: 0.9;
		height: 90%;
		width: 80%;
    max-width: 1000px;


		.popup-title {
			background-color: black;
			flex: 0 1 auto;
			line-height: 40px;
			height: 40px;
			width: 100%;
			text-align: center;
			font-size: 1.5rem;
			background-color: #101010;
			border-bottom: solid 1px gray;

			.popup-close {
        fill: white;
				position: absolute;
				right: 0px;
				top: 0px;
				cursor: pointer;
				height: 40px;
			}
		}

		.popup-rules-iframe {
			display: block;
			width: 100%;
			flex: 1 1 auto;
			border: none;
		}
	}
}

.game-menu {
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	display: flex;


	.bg {
    @media (min-aspect-ratio: 2/1) {
      background-size: auto 100%;
    }
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		background-position-y: top;
		background-position-x: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: red;
	}

	.game-footer {
		width: 100%;
		position: absolute;
		bottom: 0px;
		height: 14vh;
		display: flex;
		overflow: hidden;
		align-items: center;
		background: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0.8) 0%,
			rgba(0, 0, 0, 0.4) 30%,
			rgba(0, 0, 0, 0.6) 70%,
			rgba(0, 0, 0, 0.8) 100%
		);
	}

	.game-header {	
		position: absolute;

		width: 100%;
		top: 0px;
		height: 10vh;
		line-height: 100%;
		font-size: 10vh;
    @media (orientation: portrait) {
      height: 14vh;
      font-size: 7.8vh;
    }
    z-index: 1;
    display: flex;

		background: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0) 0%,
			rgba(0, 0, 0, 0.4) 30%,
			rgba(0, 0, 0, 0.4) 70%,
			rgba(255, 255, 255, 0) 100%
		);
		color: #fff;
		text-align: center;
		vertical-align: middle;
		// border-bottom: 1px solid #aaa;
		// border-top: 1px solid #aaa;
		font-family: 'Montserrat', sans-serif;

		.game-subheader {
			position: relative;
			height: 3vh;
			line-height: 3vh;
			bottom: 3vh;
			font-size: 2vh;
      @media (orientation: portrait) {
        height: 2.66vh;
        line-height: 2.66vh;
        bottom: 2.2vh;
        font-size: 1.77vh;
      }

			text-align: center;
			vertical-align: top;
		}

	}


	.auth {

		display: flex;
		flex-flow: column;
		background-color: rgba(0, 0, 0, 0.4);
		width: 300px;

		position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);


		border-radius: 5px;
		box-shadow: 1px 9px 18px 4px rgba(10, 4, 40, 0.22);
		border: 1px solid #aaa;

		.auth-header {
			width: 100%;
			display: block;
			height: 40px;
			line-height: 40px;
			background: linear-gradient(
				90deg,
				rgba(255, 255, 255, 0) 0%,
				rgba(0, 0, 0, 0.4) 30%,
				rgba(0, 0, 0, 0.4) 70%,
				rgba(255, 255, 255, 0) 100%
			);
			color: #fff;
			z-index: 2;
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			font-size: 22px;
		}

		.auth-body {
			padding: 5px;
			display: block;
		}

	}
}

@keyframes pop {
	0% {
		clip-path: circle(5%);
		transform: scale(0.5);
	}
	100% {
		clip-path: circle(50%);
		transform: scale(1);
	}
}


@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

.cta {
	position: absolute;
	right: 10vh;
	margin-bottom: auto;
  display: flex;
  padding: 1vh 4.5vh 1vh 4.5vh;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 4vh;
  color: white;
  background: #6225E6;
  transition: 1s;
  box-shadow: 0.6vh 0.6vh 0 black;
  transform: skewX(-15deg);
	align-items: center;
	justify-content: center;

	.arrows {
		margin-top: auto;
		margin-bottom: auto;
		height: 5vh;
		// height: 20%;
		.arrow {
			position: absolute;
			margin: auto;
			height: 100%;
			opacity: 60%;
		}

		.arrow.one {
			transition: 0.4s;
		}

		.arrow.two {
			transition: 0.5s;
		}

	}

}

.cta:focus {
  outline: none; 
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 1vh 1vh 0 #FBC638;
}

.cta .arrows {
    transition: 0.5s;
    margin-right: 0vh;
}

.cta:hover .arrows {
    transition: 0.5s;
    margin-right: 4.5vh;

    .arrow.one {
    	transform: translateX(60%);
    	animation: color_anim 1s infinite 0.3s;
    }

    .arrow.two {
    	transform: translateX(120%);
    	animation: color_anim 1s infinite 0.6s;
    }

    .arrow.three {
    	animation: color_anim 1s infinite 0s;
    }
}

  span {
    transform: skewX(15deg) 
  }

  span:nth-child(2) {
    width: 2vh;
    margin-left: 3vh;
    position: relative;
    top: 12%;
  }
  
/* animations */

@keyframes color_anim {
    0% {
        color: 60%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 60%;
    }
}