.brick-param-inline {
	display: flex;
	flex-direction: row;

	.param-value {
		pointer-events: all;
	}

}

.param-name {
	color: #bbb;
	line-height: 30px;
	font-style: italic;
	pointer-events: none;
	margin-left: 5px;
	margin-right: 5px;

	&.left {
		text-align: left;
	}

	&.right {
		margin-left: auto;
		text-align: right;
	}
}

.brick-param-brick {
	display: flex;
	pointer-events: none;
	position: relative;
	height: 30px;
	line-height: 30px;


	&.left { 
		left: 0;
		flex-direction: left;
	}

	&.right {
		right: 0;
		flex-direction: right;
	}


	.delete-button {
		width: 10px;
		pointer-events: all;
		right: 0px;
		position: absolute;
		display: inline;
	}
}