/*.nft {
  background-color: rgb(30, 10, 50);
  border-width: 2px;
  border-color: white;
  border-radius: 3px;
  width: 150px;
  height: 150px;
  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
  
  transform-origin:center;
  transform:perspective(600px) rotateY(20deg);
  transition:0.5s;
}

.collection {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0px;
  display: flex;

}


.cards {
  bottom: 0;
  display: flex;
  height: 150px;
  padding: 0 50px;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
}

.card {
  height: 12.5rem;
  margin: 0 -25px;
  position: relative;
  width: 10rem;
 
}

.card:after {
  bottom: 0;
  content: '';
  left: -60px;
  position: absolute;
  right: -60px;
  top: 0px;
  z-index: 10
}

.card-face {
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  background-color: #333;
  right: 0;
  top: 0;
  transition: 800ms cubic-bezier(0.19, 1, 0.22, 1) transform;
}

.card-face:after {
  animation: none;
  background: #fff;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.card .card-face {
  box-shadow: 0 0 20px rgba(0, 0, 0, 1 );
  overflow: hidden;
  filter: brightness(.5);
  transform: 
    translateY(var(--offset)) 
    rotateZ(var(--rotation));
}

.card .card-face .nft-image{
  box-shadow: inset 40px 40px 40px 40px black;
}

.card:hover .card-face {
}

.card:hover .card-face {
  filter: unset;
  transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 100ms;
  z-index: 5;
}



.card:hover:after {
  top: -175px;  
}

.card:hover .card-face:after {
  animation: fade 250ms ease-out forwards;
}

.nft-name {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0px;
  height: 2.6rem;
  font-size: 0.9rem;
  margin: auto;
  text-align: center;
}

.nft-image {
  position: relative;
  border-width: 1px;
  border-color: white;
  border-radius: 3;
  left: 1%;
  top: 1%;
  width: 98%;
  height: 78%;
}

@keyframes fade {
  0% {
    opacity: 0.9;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.15);
  }
}*/