.brick-header {
	pointer-events: none;
	position: relative;
	diplay: flex;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px 5px 0 0;
	width: 100%;
	height: 30px;
	top: 0;
	left: 0;
	right: 0;
	font-weight: 550;

	.remove-button {
		pointer-events: all;
		position: absolute;
		right: 0rem;
		top: 0rem;
		border-radius: 5px;
	}

	.brick-name {
		overflow: hidden;
		text-align: center;
		margin: 0px 35px 0px 10px;
		height: 30px;
		font-size: 15px;
		line-height: 30px;
		z-index: 100;

		&:hover {
			overflow: visible;
			height: unset;
			background-color: red;
		}
	}

}
