.brick-header {
	pointer-events: none;
	position: relative;
	diplay: flex;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px 5px 0 0;
	width: 100%;
	min-height: 1.5rem;
	top: 0;
	left: 0;
	right: 0;

	.remove-button {
		pointer-events: all;
		position: absolute;
		right: 0rem;
		top: 0rem;
		border-radius: 5px;
	}
}

.brick-name {
	text-align: center;
	margin-left: 3rem;
	margin-right: 3rem;
	font-size: 0.9rem;
}
