.brick-header {
	pointer-events: none;
	position: relative;
	display: flex;
	flex-direction: right;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px 5px 0 0;
	width: 100%;
	height: 30px;
	top: 0;
	left: 0;
	right: 0;
	font-weight: 550;

	.remove-button {
		pointer-events: all;
		right: 0rem;
		top: 0rem;
		border-radius: 5px;
		height: 100%;
	}

	.brick-name {
		flex: 1;
		padding: 0px 10px 0px 15px;
		display: block;
		text-align: center;
		font-size: 15px;
		line-height: 30px;
		z-index: 2;

		&:hover {
			overflow: visible;
			height: unset;
		}
	}

}
