.brick-editor-frame {
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
}

.brick-editor-fullscreen {
	background-color: black;
	position: fixed;
	display: inline;
}

.brick-editor-frame.small {
	width: 300;
	height: 200;
}

.brick-editor-frame.small * {
	pointer-events: none;
}

.brick-editor-frame.small:hover {
	background-color: rgba(255, 255, 255, 0.05);
}

.brick-editor {
	font-family: sans-serif;
	color: #fff;
	background-color: rgba(255, 255, 255, 0);

	.react-flow__handle {
		border-color: #1f1b19;
		background-color: #88674b;
		cursor: auto;
		width: 0.4rem;
		height: 0.4rem;
	}

	.react-flow__handle-bottom {
		bottom: -0.15rem;
	}

	.react-flow__handle-top {
		top: -0.15rem;
	}

	.react-flow__edge-path {
		stroke: #a99d91;
	}

	.add-brick-button {
		width: 4rem;
		height: 4rem;
		font-size: 4rem;
		line-height: 4rem;
		text-align: center;
		font-weight: bold;
		border: solid 1px #88674b;
		border-radius: 0.5rem;
		color: #fff;
		background-color: #604e3f;
	}

	.brick-selector {
		position: absolute;
		margin-top: -2rem;
		margin-left: 2rem;
		min-width: 20rem;
		font-size: 1.2rem;
		background-color: black;
	}

	.brick {
		border: solid 1px #40342c;
		border-radius: 0.3rem;
		background-color: #261f1c;
		text-align: center;

		.brick-body {
			padding: 1rem;
			padding-top: 0.2rem;
			padding-bottom: 0.4rem;
		}

		.brick-header {
			position: relative;
			diplay: flex;
			background-color: rgba(0, 0, 0, 0.2);
			border-radius: 0.3rem 0.3rem 0 0;
			width: 100%;
			min-height: 1.5rem;
			top: 0;
			left: 0;
			right: 0;
		}

		.brick-name {
			margin-left: 3rem;
			margin-right: 3rem;
			font-size: 0.9rem;
		}

		.brick-name.custom:hover {
			color: rgba(190, 210, 230, 255);
		}

		.remove-button {
			position: absolute;
			right: 0rem;
			top: 0rem;
			border-radius: 0.3rem;
		}

		.comment {
			margin-bottom: 2rem;
			margin-bottom: 0.2rem;
		}

		.comment-button {
			position: absolute;
			left: 0rem;
			top: 0rem;
			border-radius: 0.3rem;
			cursor: pointer;
		}

		.comment-input {
			margin: 0px;
			background-color: rgba(0, 0, 0, 0.2);
		}

		.field-container {
			font-size: 0.8rem;

			input {
				text-align: center;
			}

			input[type='number'] {
				width: 3rem;
				margin-left: 0.3rem;
			}	
		}

		.handle-label {
			position: absolute;
			width: 5rem;
			left: -2.5rem;
			bottom: 50%;
			z-index: -1;
			background-color: red;
			font-size: 0.8rem;
			border-radius: 0 0 0.3rem 0.3rem;
			background-color: #261f1c;
			border: solid 1px #40342c;

			.handle-label-add {
				pointer-events: all;
			}
		}

		.handle-label.readonly {
			background-color: #202020;
		}
	}

	.add-brick-button.active {
		cursor: pointer;
	}

	.brick {
		background-color: #261f1c;
	}

	.brick:hover {
		background-color: #302621;
	}

	.add-brick-button.active:hover {
		background-color: #71563f;
	}

	.brick.readonly {
		background-color: #202020;
	}

	.brick.readonly:hover {
		background-color: #303030;
	}

	.brick.small {
		pointer-events: none;
	}

	.brick.small > * {
		pointer-events: none;
	}

	.brick.error {
		background-color: #802020;
	}
}

.brickeditor-bg-small {
	background-color: transparent;
	pointer-events: none;
	z-index: 10;
	display: block;
}

.brickeditor-bg {
	background-color: #000000;
	pointer-events: auto;
	position: fixed;
	z-index: 100;
	display: inline;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}
