.games-space {
	margin: 0 auto;
	text-align: center;
	flex-flow: row wrap;
	display: flex;
	/*position: absolute;
	background-color: yellow;
	width: 100%;
	height: 100%;*/
}

.game-frame {
	aspect-ratio: 32/15;
	min-width: 700px;
	display: block;
/*	width: 50%;
	min-width: 700px;
	min-height: 100px;*/
}

.game-frame.single {
	width: 100%;
}

.game-frame.multi {
	width: 50%;
}

.game-debug-bar {
	top: 0%;
	display: block;
	position: relative;
}